[submodule "tools/python-midi"]
	path = tools/python-midi
	url = https://github.com/vishnubob/python-midi
[submodule "rtaudio"]
	path = rtaudio
	url = https://github.com/lamogui/rtaudio
	branch = ProutStudio
[submodule "tunefish"]
	path = tunefish
	url = https://github.com/lamogui/tunefish
	branch = ProutStudio
[submodule "WaveSabre"]
	path = WaveSabre
	url = https://github.com/lamogui/WaveSabre
	branch = ProutStudio
