dist: trusty
sudo: required
language: cpp
compiler: g++

addons:
  apt:
    sources:
      - ubuntu-toolchain-r-test
    packages:
      - gcc-6
      - g++-6
      - cmake
 
before_install:
  - sudo add-apt-repository --yes ppa:beineri/opt-qt58-trusty
  - sudo apt-get update -qq
  - sudo apt-get install qt58-meta-minimal qt58base qt58tools qt58websockets qt58svg qt58declarative libpulse-dev libasound2-dev 
  #- sudo apt-get install qtbase5-dev qtdeclarative5-dev libqt5webkit5-dev libsqlite3-dev
  #- sudo apt-get install qt5-default qttools5-dev-tools
  
  
script:
  # Link gcc-6 and g++-6 to their standard commands
  #- ln -s /usr/bin/gcc-6 /usr/local/bin/gcc
  #- ln -s /usr/bin/g++-6 /usr/local/bin/g++
  # Export CC and CXX to tell cmake which compiler to use
  - export CC=/usr/bin/gcc-6
  - export CXX=/usr/bin/g++-6
  # Check versions of gcc, g++ and cmake
  - gcc -v && g++ -v && cmake --version
  # Run your build commands next
  - /opt/qt58/bin/qt58-env.sh
  - mkdir build
  - cd build
  - cmake -DCMAKE_PREFIX_PATH:PATH=/opt/qt58/ -DCMAKE_BUILD_TYPE:STRING=Release .. 
  - make



  
  