version: '{branch}-1.0.{build}'
image:
 - Visual Studio 2017

configuration:
 - Release
 - Debug

platform:
 - x64
 
clone_script:
 - cmd: git clone --recursive https://github.com/lamogui/rmeditor ProutStudio
 
init:
 - cmd: "C:/Program Files (x86)/Microsoft Visual Studio/2017/Community/VC/Auxiliary/Build/vcvarsall.bat" X86
 
install:
 - set QTDIR=C:\Qt\5.13.0\msvc2017
 - set PATH=%PATH%;%QTDIR%\bin
 
build_script:
 - cmd: cd ProutStudio
 - cmd: dir C:\Qt\5.13.0\msvc2017\bin
 - cmd: qmake ProutStudio.pro
 - cmd: jom