version: '{branch}-1.0.{build}'
image:
 - Visual Studio 2017

configuration:
 - Release
 - Debug

platform:
 - x64
 
clone_script:
 - cmd: git clone --recursive https://github.com/lamogui/rmeditor ProutStudio
 
install:
 - set QTDIR=C:\Qt\5.13.1\mingw73_64
 - set PATH=%PATH%;%QTDIR%\bin;C:\MinGW\bin
 
build_script:
 - cmd: cd ProutStudio
 - qmake ProutStudio.pro
 - mingw32-make