version: '{branch}-1.0.{build}'
image:
 - Visual Studio 2019

configuration:
 - Release
 - Debug

platform:
 - x64
 
clone_script:
 - cmd: git clone --recursive https://github.com/lamogui/rmeditor ProutStudio
 
install:
 - set QTDIR=C:\Qt\5.13.1\mingw73_64
 - set PATH=%PATH%;%QTDIR%\bin;C:\Qt\Tools\mingw730_32\bin
 
build_script:
 - cmd: cd ProutStudio
 - cmd: dir C:\Qt\
 - cmd: dir C:\Qt\Tools\mingw730_32\
 - cmd: qmake ProutStudio.pro
 - cmd: mingw32-make 